<div class="panel panel-primary">
	<div class="panel-heading clickable" ng-click="toggleCollapse()">{{user.name}}</div>
	<div class="panel-body" ng-hide="collapsed">
		<address></address>
		<h4>Friends</h4>
		<ul>
			<li ng-repeat="friend in user.friends">
				<friend data="friend" on-remove="removeFriend(friend)"></friend>
			</li>
		</ul>
		<div ng-show="!!user.rank">
			Rank: {{user.rank}}
		</div>
		<button class="btn btn-success" ng-show="!user.rank" ng-click="rankMe()">Rank me!</button>
	</div>
</div>